[Unit]
Description=Python Applications Auto-Start Manager
After=network.target

[Service]
Type=oneshot
User=%i
WorkingDirectory=/home/%i/raspberry-pi-server
ExecStart=/bin/bash /home/%i/raspberry-pi-server/app_manager/start_scripts.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target