# Ignore Python bytecode and cache
__pycache__/
*.pyc

# macOS system files
.DS_Store

# VSCode settings (keep only settings.json)
.vscode/

# Ignore logs
log/
logs/
*.log

# Ignore the app configuration file (if you want to keep it local)
app_manager/apps_config.json
